{% macro my_paginate(pagination,url) %}
<div>
    <ul class="pagination">

        {%if pagination.has_prev%}
        <li class="page-item active"><a class="page-link" new-page="{{ pagination.page - 1 }}" href="javascript:void(0)">last page</a></li>
        {%else%}
        <li class="page-item disabled"><a class="page-link" href="#">last page</a></li>
        {%endif%}

            {%for page in pagination.iter_pages(1,1,3,1)%}
            {%if page%}
                <li class="page-item {%if page==pagination.page%}active{%endif%}"><a class="page-link" new-page="{{ page }}" href="javascript:void(0)">{{page}}</a></li>
            {%else%}
                <li class="page-item disabled"><a class="page-link" href="#">&hellip;</a></li>
            {%endif%}

        {%endfor%}

        {%if pagination.has_next%}
        <li class="page-item active"><a class="page-link" new-page="{{ pagination.page + 1 }}" href="javascript:void(0)">next page</a></li>
        {%else%}
        <li class="page-item disabled"><a class="page-link" href="#">next page</a></li>
        {%endif%}

    </ul>
</div>
<script>
    $('.page-link').click(function () {
        var page_number = $(this).attr('new-page');
        var new_search = window.location.search;
        if (new_search.search(/page=[0-9]*?/i) == -1)
            new_search += '&page=' + page_number;
        else
            new_search = new_search.replace(/page=[0-9]+/i, 'page=' + page_number);
        window.location.search = new_search;
    });
</script>
{% endmacro %}