<script src="{{ url_for('static',filename='js/jquery-3.1.1.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/bootstrap.js') }}"></script>
<script src="{{ url_for('static',filename='js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
<script src="{{ url_for('static',filename='js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/inspinia.js') }}"></script>
<script src="{{ url_for('static',filename='js/plugins/pace/pace.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/plugins/flot/jquery.flot.js') }}"></script>
<script src="{{ url_for('static',filename='js/plugins/flot/jquery.flot.tooltip.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/plugins/flot/jquery.flot.resize.js') }}"></script>
<script src="{{ url_for('static',filename='js/plugins/chartJs/Chart.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/plugins/peity/jquery.peity.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/demo/peity-demo.js') }}"></script>
<script src="{{ url_for('static',filename='js/wow.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/superfish.min.js') }}"></script>

<script src="{{ url_for('static',filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/easing.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/waypoints.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/counterup.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/hoverIntent.js') }}"></script>
<script src="{{ url_for('static',filename='js/masonry.pkgd.min.js') }}"></script>
<script src="{{ url_for('static',filename='js/imagesloaded.pkgd.min.js') }}"></script>
