{% extends "basic/base.html" %}
{% block username %}{{ current_user }}{% endblock %}
{% block title %}Change Log{% endblock %}
{% block content %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Whole table for Change Log</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{{ url_for('main.userpage') }}">Homepage</a>
                </li>

                <li class="breadcrumb-item active">
                    <strong>Whole table for Change Log</strong>
                </li>
            </ol>
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight ecommerce">

        <div class="ibox-content m-b-sm border-bottom">
            <form action="{{ url_for('main.changeLog') }}" method="GET">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" for="product_name">True name</label>
                            <input type="text" name="true_name" value="" placeholder="True name" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" for="price">Item name</label>
                            <input type="text" name="item_name" value="" placeholder="computer" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" for="price">Method</label>
                            <select name="method" class="form-control">
                                <option>No selection</option>
                                <option>upload</option>
                                <option>modify</option>
                                <option>delete</option>
                            </select>
                        </div>
                    </div>
                    {#                    <div class="col-sm-3">#}
                    {#                        <div class="form-group">#}
                    {#                            <label class="col-form-label" for="status">Lost or found time</label>#}
                    {#                            <select name="status" id="status" class="form-control">#}
                    {#                                <option value="1" selected="">2019/4/13</option>#}
                    {#                                <option value="0">2019/4/5</option>#}
                    {#                            </select>#}
                    {#                        </div>#}
                    {#                    </div>#}
                    <div class="col-sm-4">
                        <p>
                            <button type="submit" name="submit" class="btn btn-w-m btn-primary">Search</button>
                        </p>
                    </div>
                </div>

            </form>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">

                        <table class="footable table table-stripped toggle-arrow-tiny footable-loaded default breakpoint"
                               data-page-size="15">
                            <thead>
                            <tr>
                                <th data-toggle="true" class="footable-visible footable-sortable footable-first-column">
                                    Username<span class="footable-sort-indicator"></span></th>
                                <th data-hide="phone" class="footable-visible footable-sortable">True name<span
                                        class="footable-sort-indicator"></span></th>
                                <th data-hide="phone" class="footable-visible footable-sortable">Phone number<span
                                        class="footable-sort-indicator"></span></th>
                                <th data-hide="phone" class="footable-visible footable-sortable">Change time<span
                                        class="footable-sort-indicator"></span></th>
                                <th data-hide="all" class="footable-sortable">Item name<span
                                        class="footable-sort-indicator"></span></th>
                                <th data-hide="phone" class="footable-visible footable-sortable">Method<span
                                        class="footable-sort-indicator"></span></th>
                                <th data-hide="phone,tablet" class="footable-sortable footable-visible" style="">Content<span
                                        class="footable-sort-indicator"></span></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for change in changes %}
                                <tr class="footable-even" style="">
                                    <td class="footable-visible footable-first-column"><span
                                            class="footable-toggle"></span>
                                        {{ change.changer.username }}
                                    </td>
                                    <td class="footable-visible">
                                        {{ change.changer.true_name }}
                                    </td>
                                    <td class="footable-visible">
                                        {{ change.changer.phone_number }}
                                    </td>
                                    <td class="footable-visible">
                                        {{ change.timestamp }}
                                    </td>
                                    <td class="footable-visible" style="">
                                        {{ change.item_name }}
                                    </td>
                                    <td class="footable-visible" style="">
                                        {{ change.method }}
                                    </td>
                                    <td class="footable-visible" style="">
                                        {{ change.content }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="6" class="footable-visible"
                                    style="padding-top: 20px; padding-down: -20px;">
                                    {% import 'basic/pagination.html' as pg %}
                                    {{ pg.my_paginate(pagination,'main.changeLog') }}
                                </td>
                            </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
