{% extends "basic/base.html" %}

{% block username %}{{ current_user }}{% endblock %}
{% block title %}Modify Storage{% endblock %}
{% block content %}
        <div class="gray-bg" style="width: 100%">
            <div class="container align-items-center">
                <div class="container">
                    <div class="ibox-content" style="margin:50px 0;">
                        <div class="text-center">
                            <h2>Modify Storage</h2>
                            <img src="{{ url_for('static', filename=storage.pic) }}" class="img-circle" height="90px" width="90px">
                            <hr>
                        </div>
                        <form id="upload_form" method="post" role="form" action="{{ url_for('main.modifyStorage', storage_id=storage.id) }}">
                            <div id="form_error"></div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">available time</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="available_time" value="{{ storage.available_time }}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Phone number</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" name="phone_number" value="{{ storage.phone_number }}">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Icon of storage</label>
                                <div class="col-sm-10">
                                    <div class="custom-file">
                                        <input id="logo" type="file" class="custom-file-input" name="pic">
                                        <label for="logo" class="custom-file-label">Choose image...</label>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group row">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-white btn-sm" type="button" onclick="location.href='{{ url_for('main.showStorage', storage_id=storage.id) }}'">cancel</button>
                                    <button class="btn btn-primary btn-sm" type="button" onclick='submit_form()'>modify</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
		</div>
{% endblock %}
{% block script %}
    <script>
    function submit_form(){
        var formData = new FormData(document.querySelector("form"));
        $.ajax({
            url: "{{ url_for('main.modifyStorage_form', storage_id=storage.id) }}",
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success:function(data){
                if (data == 'success')
                    window.location.href = "{{ url_for('main.showStorage', storage_id=storage.id) }}";
                else {
                    $('#form_error').html(data);
                }
            }
        });
    }
    </script>
{% endblock %}