{% extends "basic/base.html" %}

{% block username %}{{ current_user }}{% endblock %}
{% block title %}{{ current_user }}{% endblock %}
{% block content %}

    <div class="wrapper wrapper-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-4">
                            <a href="{{ url_for('user.lost_item') }}" style="color:inherit">
                                <div class="ibox">
                                    <div class="ibox-title">
                                        <h5>Lost items</h5>
                                    </div>
                                    <div class="ibox-content">
                                        <h1 class="no-margins">{{ lost_count }}</h1>
                                        <!--
                                    <div class="stat-percent font-bold text-success">98%<i class="fa fa-bolt"></i></div>
                                    <small>总计浏览量</small>
        -->
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="{{ url_for('user.found_item') }}" style="color:inherit">
                                <div class="ibox">
                                    <div class="ibox-title">
                                        <h5>Found items</h5>
                                    </div>
                                    <div class="ibox-content">
                                        <h1 class="no-margins">{{ found_count }}</h1>
                                        <!--
                                            <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>
                                            <small>新订单</small>
        -->
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="{{ url_for('user.success_item') }}" style="color:inherit">
                                <div class="ibox ">
                                    <div class="ibox-title">
                                        {#                                <span class="label label-primary float-right">Today</span>#}
                                        <h5>success return</h5>
                                    </div>
                                    <div class="ibox-content">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h1 class="no-margins">{{ success_count }}</h1>
                                                <div class="font-bold text-navy">44% <i class="fa fa-level-up"></i>
                                                    <small>increase</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox ">
                                <div class="ibox-title">
                                    <h5>Comment on your uploaded items</h5>
                                    <div class="ibox-tools"><span
                                            class="label label-warning-light float-right">new comments</span></div>
                                </div>
                                <div class="ibox-content">
                                    <div>
                                        <div class="feed-activity-list">
                                            {% if not comments %}
                                                <h1>Currently there is no comment on your uploaded item.</h1>
                                            {% endif %}
                                            {% for comment in comments %}
                                                {% if comment == comments[3] %}
                                                    {% break %}
                                                {% endif %}
                                                <div class="feed-element"><a class="float-left"
                                                                             href="{{ url_for('item.itemDetail', item_id=comment.comment_item) }}"
                                                                             style="color: inherit"> <img alt="image"
                                                                                                          class="rounded-circle"
                                                                                                          src="{{ url_for('static', filename=comment.uploader.icon) }}">
                                                    <div class="media-body ">
                                                        <strong>{{ comment.uploader.username }}</strong>
                                                        made the comment: <strong>{{ comment.content }}</strong>
                                                </a>
                                                    <small class="text-muted" style="float:right">{{ comment.timestamp }}</small>
                                                </div>
                                                </div>
                                            {% endfor %}
                                    </div>
                                    <button class="btn btn-primary btn-block m-t"
                                            onclick="location.href='{{ url_for('main.showComment') }}'"><i
                                            class="fa fa-arrow-down"></i> See more
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="ibox-title">
                                <h5>Message Replied by UIC Storage</h5>
                                <div class="ibox-tools"><span
                                        class="label label-warning-light float-right">new replies</span></div>
                            </div>
                            <div class="ibox-content">
                                <div>
                                    <div class="feed-activity-list">
                                        {% if not messages %}
                                            <h1>Currently there is no reply to you.</h1>
                                        {% endif %}
                                        {% for message in messages %}
                                            {% if message == messages[3] %}
                                                {% break %}
                                            {% endif %}

                                            <div class="feed-element"><a class="float-left"><img alt="image"
                                                                           class="rounded-circle"
                                                                           src="{{ url_for('static', filename=message.store_location.pic ) }}">
                                                <div class="media-body ">
                                                    <strong>{{ message.store_location.location_name }}</strong>
                                                    reply to you: <strong>{{ message.content }}</strong>
                                                    </a>
                                                    <small class="text-muted" style="float:right">{{ message.timestamp }}</small>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <button class="btn btn-primary btn-block m-t"
                                            onclick="location.href='{{ url_for('main.userMessage') }}'"><i
                                            class="fa fa-arrow-down"></i> See more
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-content text-center">
                            <h1>{{ current_user }}</h1>
                            <div class="m-b-sm">
                                <a href="{{ url_for('user.modify_icon') }}">
                                    <img alt="image" class="rounded-circle" height="100px" width="100px"
                                         src="{{ url_for('static', filename = current_user.icon) }}">
                                </a>
                            </div>
                            <h4 class="font-bold">UIC {{ current_user.group.group_name }}</h4>
                            <hr>
                            <h5>Email: {{ email }}</h5>
                            <h5>Tel: {{ phone_number }}</h5>

                            <div class="text-center">
                                <button class="btn btn-xs btn-white"
                                        onclick="location.href='{{ url_for('user.modify_profile') }}'"> modify
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title"><span class="label label-warning float-right">New event</span>
                            <h5>Ongoing broadcast</h5>
                        </div>
                        {% if not broadcasts %}
                            <div class="ibox-content">
                            <h1>Currently there is no broadcast</h1>
                            </div>
                        {% endif %}
                        {% for broadcast in broadcasts %}
                            {% if broadcast == broadcasts[3] %}
                                {% break %}
                            {% endif %}
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-12" style="margin-bottom: -27px; margin-top: -6px;">
                                        <h4>{{ broadcast.title }}</h4>
                                        <p>
                                            <small class="stats-label">{{ broadcast.content }}</small>
                                        </p>
                                        <p style="float:right">
                                            <small class="stats-label">{{ broadcast.timestamp }}</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="ibox-content" style="margin-bottom: -27px; padding-top: -20px;">
                            <button class="btn btn-primary btn-block m-t" style="margin-top:0px;"
                                    onclick="location.href='{{ url_for('main.showBroadcast') }}'"><i
                                    class="fa fa-arrow-down"></i> See more
                            </button>
                        </div>
                    </div>
                </div>
            </div>


            <!--
                                    <div class="ibox ">
                                        <div class="ibox-title">
                                            <h5>Pie chart</h5>
                                        </div>
                                        <div class="ibox-content">
                                            <div>
                                                <canvas id="doughnutChart" height="140"></canvas>
                                            </div>
                                        </div>
                                    </div>
            -->
            <!--
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Recent Update Request Picture</h5>
                    <div class="ibox-tools"> <a class="collapse-link"> <i class="fa fa-chevron-up"></i> </a> <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i class="fa fa-wrench"></i> </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#" class="dropdown-item">选项 1</a> </li>
                            <li><a href="#" class="dropdown-item">选项 2</a> </li>
                        </ul>
                        <a class="close-link"> <i class="fa fa-times"></i> </a> </div>
                </div>
                <div class="ibox-content">
                    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active"> <img class="d-block w-100" src="img/p_big3.jpg" alt="First slide"> </div>
                            <div class="carousel-item"> <img class="d-block w-100" src="img/p_big1.jpg" alt="Second slide"> </div>
                            <div class="carousel-item"> <img class="d-block w-100" src="img/p_big2.jpg" alt="Third slide"> </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a> <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"> <span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span> </a> </div>
                </div>
            </div>
    -->
            <!--
                <div class="col-lg-8">
                    <div class="ibox ">
                        <div class="ibox-content">
                            <div>
                                    <span class="float-right text-right">
                                    <small>在过去的一个月销售的平均值: <strong>山东</strong></small>
                                        <br/>
                                        所有销售: 162,862
                                    </span>
                                <h3 class="font-bold no-margins">
                                    半年收入利润率
                                </h3>
                                <small>市场部.</small>
                            </div>

                            <div class="m-t-sm">

                                <div class="row">
                                    <div class="col-md-8">
                                        <div>
                                        <canvas id="lineChart" height="114"></canvas>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <ul class="stat-list m-t-lg">
                                            <li>
                                                <h2 class="no-margins">2,346</h2>
                                                <small>总订单</small>
                                                <div class="progress progress-mini">
                                                    <div class="progress-bar" style="width: 48%;"></div>
                                                </div>
                                            </li>
                                            <li>
                                                <h2 class="no-margins ">4,422</h2>
                                                <small>最近一个月订单</small>
                                                <div class="progress progress-mini">
                                                    <div class="progress-bar" style="width: 60%;"></div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>

                            <div class="m-t-md">
                                <small class="float-right">
                                    <i class="fa fa-clock-o"> </i>
                                    2017.12.12 更新
                                </small>
                                <small>
                                    <strong>销售分析:</strong> 这个价值随着时间的推移而改变，上个月达到5万美元以上。
                                </small>
                            </div>

                        </div>
                    </div>
                </div>
    -->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" style="margin-top: 20px;">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>All my items table</h5>
                </div>
                <div class="ibox-content">

                    <table class="footable table table-stripped toggle-arrow-tiny footable-loaded default breakpoint"
                           data-page-size="15">
                        <thead>
                        <tr>
                            <th data-toggle="true" class="footable-visible footable-sortable footable-first-column">
                                Item
                                names<span class="footable-sort-indicator"></span></th>
                            <th data-hide="all" class="footable-sortable">Category<span
                                    class="footable-sort-indicator"></span></th>
                            <th data-hide="phone" class="footable-visible footable-sortable">Lost/Found time<span
                                    class="footable-sort-indicator"></span></th>
                            <th data-hide="phone" class="footable-visible footable-sortable">Location<span
                                    class="footable-sort-indicator"></span></th>
                            <th data-hide="phone,tablet" class="footable-sortable footable-visible">Upload time<span
                                    class="footable-sort-indicator"></span></th>
                            <th data-hide="phone" class="footable-visible footable-sortable">Status<span
                                    class="footable-sort-indicator"></span></th>
                            <th class="text-right footable-visible footable-last-column" data-sort-ignore="true">
                                Operation
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in items %}
                            <tr class="footable-even" style="">
                                <td class="footable-visible footable-first-column" id="item_name"
                                    value="{{ item.item_id }}"><span class="footable-toggle"></span>
                                    {{ item.item_name }}
                                </td>
                                {#                                    <td class="footable-visible" id="item_id" style="display: none;" value="{{ item.item_name }}">#}
                                {#                                        {{ item.item_id }}#}
                                {#                                    </td>#}
                                <input type="text" value="{{ item.item_name }}" id="{{ item.item_id }}"
                                       style="display: none;">
                                <td class="footable-visible">
                                    {{ item.category }}
                                </td>
                                <td class="footable-visible">
                                    {{ item.time }}
                                </td>
                                <td class="footable-visible" style="">
                                    {{ item.location }}
                                </td>
                                <td class="footable-visible">
                                    {{ item.timestamp }}
                                </td>
                                <td class="footable-visible">
                                    {% if item.status == 'found' or item.status == 'lost' %}
                                        <span class="label label-danger">{{ item.status }}</span>
                                    {% endif %}
                                    {% if item.status == 'success' %}
                                        <span class="label label-success">{{ item.status }}</span>
                                    {% endif %}
                                </td>
                                <td class="text-right footable-visible footable-last-column">
                                    <div class="btn-group">
                                        <a href="{{ url_for("item.itemDetail", item_id=item.id) }}"
                                           style="color:inherit">
                                            <button class="btn-primary btn btn-xs">check</button>
                                        </a>
                                        <a href="{{ url_for("item.modify", item_id=item.id) }}"
                                           style="color:inherit">
                                            <button class="btn-warning btn btn-xs">edit</button>
                                        </a>
                                        <button class="btn-danger btn btn-xs" data-toggle="modal"
                                                data-target="#myModal{{ item.id }}" style="color:white">delete
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            <div class="modal fade" id="myModal{{ item.id }}" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top:180px;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">
                                                Confirm Delete
                                            </h4>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-hidden="true">×
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure to delete {{ item.item_name }}?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default"
                                                    data-dismiss="modal">cancel
                                            </button>
                                            <button type="button" class="btn btn-primary" id="confirm"
                                                    onclick="location.href='{{ url_for('item.delete', item_id=item.id) }}'">
                                                confirm
                                            </button>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>

                        </tr>
                        </tfoot>
                    </table>
                        {% import 'basic/pagination.html' as pg %}
                        {{ pg.my_paginate(pagination,'main.showMessage') }}
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $('#myModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var message = "Are you sure to delete " + $('#item_id').val() + " ?";
            var modal = $(this);
            modal.find('.modal-body').text(message);
        });
        $(function () {
            if (window.screen.width <= 992) {
                var $container = $('#masonry');
                $container.imagesLoaded(function () {
                    $container.masonry({
                        itemSelector: '.box_item',
                        gutter: 20,
                        isAnimated: true,
                    });
                });
            }
        });
    </script>
{% endblock %}