{% extends "basic/base.html" %}
{% block username %}{{ current_user }}{% endblock %}
{% block title %}Reply{% endblock %}
{% block content %}
        <div class="gray-bg" style="width: 100%">
            <div class="container align-items-center">
                <div class="container">
                    <div class="ibox-content" style="margin:50px 0;">
                        <div class="text-center">
                            <h2>Reply Message to {{ message_view.sender.true_name }}</h2>
                            <br>
                            <img src="{{ url_for('static', filename=message_view.sender.icon) }}" class="img-circle" height="120px" width="120px">
                            <br>
                            <hr>
                        </div>
                        <form id="upload_form" method="post" role="form" action="{{ url_for('main.reply', storage_id=storage.id, reply_id=message_view.sender.id) }}">

                            {% for message in get_flashed_messages() %}
                                <div class="alert alert-danger alert-dismissable">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                {{ message }}
                                </div>
                            {% endfor %}

                            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                                {% for error in field_errors %}
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <strong>{{ form[field_name].label }}Error:</strong> {{ error }}
                                    </div>
                                {% endfor %}
                            {% endfor %}

                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">Title</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="title">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

							<div class="form-group row">
                                <label class="col-sm-2 col-form-label">Content</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" type="text" rows="5" name="content"></textarea>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group row">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button class="btn btn-white btn-sm" onclick="location.href='{{ url_for('main.userpage') }}'">cancel</button>
                                    <button class="btn btn-primary btn-sm" type="submit" onclick="location.href='{{ url_for('main.reply', storage_id=storage.id, reply_id=message_view.sender.id) }}'">confirm</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
		</div>
{% endblock %}